# Rename this file to guifiConfig.py
USERNAME = 'type_your_username_here'
PASSWORD = 'type_your_password_here'
DEF_ZONE = 26949 #Malaga
DEF_LAT = 36.69912736 #Somewhere in Malaga
DEF_LON = -4.44647219 #Somewhere in Malaga
NOTIFICATION = 'yourmail@address.here'
SECURE = True # Use HTTPS or not
